version: 2.1
jobs:
  run-test:
    executor: pw-jammy-development
    parallelism: 4
    steps:
      - checkout
      - run: pwd
      - run: ls
      - run: npm i -D @playwright/test
      - run: npx playwright install --with-deps chromium
      - run:
          name: Run test
          command: SHARD="$((${CIRCLE_NODE_INDEX}+1))"; npx playwright test -- --shard=${SHARD}/${CIRCLE_NODE_TOTAL}
      - store_test_results:
          path: test-results/

# Invoke jobs via workflows
workflows:
  run-test-workflow:
    jobs:
      - run-test

executors:
   pw-jammy-development:
     docker:
       - image: mcr.microsoft.com/playwright:v1.33.0-jammy