version: 2.1
jobs:
  playwright:
    name: 'Playwright Tests'
    executor: pw-jammy-development
    parallelism: 4
    steps:
      - name: Install dependencies
        run: npm ci
      - name: Run your tests
        run: npx playwright test
      - run: SHARD="$((${CIRCLE_NODE_INDEX}+1))"; npx playwright test -- --shard=${SHARD}/${CIRCLE_NODE_TOTAL}      
executors:
  pw-jammy-development:
    docker:
      - image: mcr.microsoft.com/playwright:v1.33.0-jammy